{% extends 'base_bootstrap.html' %}
{% block head %}
<meta name="dj4e" content="6dee7f5a0a3c09cbbfdda54f0a859a33">
{% endblock %}
{% block content %}
<h1>Breeds</h1>
<p>
  <a href="{% url 'breed_create' %}">Add Breed</a> |
  <a href="{% url 'all' %}">Back to Cats</a> |
  <a href="{% url 'breed_list' %}">View breeds</a>
</p>
<table>
<tr><th>Name</th><th>Actions</th></tr>
{% for breed in breed_list %}
<tr>
  <td>{{ breed.name }}</td>
  <td>
    <a href="{% url 'breed_update' breed.id %}">Update</a> |
    <a href="{% url 'breed_delete' breed.id %}">Delete</a>
  </td>
</tr>
{% endfor %}
</table>
{% endblock %} 