{% extends 'base_bootstrap.html' %}
{% block head %}
<meta name="dj4e" content="6dee7f5a0a3c09cbbfdda54f0a859a33">
{% endblock %}
{% block content %}
<h1>Cats</h1>
<p>
  <a href="{% url 'cat_create' %}">Add a cat</a> |
  <a href="{% url 'breed_create' %}">Add a breed</a> |
  <a href="{% url 'breed_list' %}">Manage Breeds</a> |
  <a href="{% url 'breed_list' %}">View breeds</a>
</p>
<table>
<tr><th>Nickname</th><th>Breed</th><th>Weight</th><th>Foods</th><th>Actions</th></tr>
{% for cat in cat_list %}
<tr>
  <td>{{ cat.nickname }}</td>
  <td>{{ cat.breed.name }}</td>
  <td>{{ cat.weight }}</td>
  <td>{{ cat.foods }}</td>
  <td>
    <a href="{% url 'cat_update' cat.id %}">Edit</a> |
    <a href="{% url 'cat_delete' cat.id %}">Delete</a>
  </td>
</tr>
{% endfor %}
</table>
{% endblock %} 