{% extends "base_bootstrap.html" %}

{% block content %}
<div class="container">
  <h1>{{ object.title }}</h1>
  <p><strong>Price:</strong> {{ object.price }}</p>
  <p><strong>Description:</strong> {{ object.text }}</p>
  {% if object.owner == user %}
    <a href="{% url 'ads:ad_update' object.id %}" class="btn btn-primary">Edit</a> |
    <a href="{% url 'ads:ad_delete' object.id %}" class="btn btn-danger">Delete</a>
  {% endif %}
  <a href="{% url 'ads:all' %}" class="btn btn-secondary">Back to all ads</a>
</div>
{% endblock %} 