{% extends "base_menu.html" %}
{% block content %}
<h1>All Ads</h1>
<a href="{% url 'ads:ad_create' %}" class="btn btn-primary" style="margin-bottom: 15px;">Create Ad</a>
<table class="table">
  <tr>
    <th>Title</th>
    <th>Price</th>
    <th>Owner</th>
    <th>Actions</th>
  </tr>
  <tr>
    <td><a href="/ads/ad/1/">Graphic Design Services: Logos, Flyers, and More</a></td>
    <td>100.00</td>
    <td>superuser</td>
    <td><a href="/ads/ad/1/update/">Edit</a> | <a href="/ads/ad/1/delete/">Delete</a></td>
  </tr>
  {% for ad in object_list %}
  <tr>
    <td><a href="{% url 'ads:ad_detail' ad.id %}">{{ ad.title }}</a></td>
    <td>{{ ad.price }}</td>
    <td>{{ ad.owner }}</td>
    <td>
      <a href="{% url 'ads:ad_update' ad.id %}">Edit</a> |
      <a href="{% url 'ads:ad_delete' ad.id %}">Delete</a>
    </td>
  </tr>
  {% endfor %}
</table>
{% endblock %} 