{% extends "base_bootstrap.html" %}

{% block content %}
  <h1>Auto List</h1>
  {% if auto_list %}
    <ul>
      {% for auto in auto_list %}
        <li>
            {{ auto.nickname }} ({{ auto.make }})
          (<a href="/ads/autos/{{ auto.id }}/update">Update</a> |
          <a href="/ads/autos/{{ auto.id }}/delete">Delete</a>)
        </li>
      {% endfor %}
    </ul>
  {% else %}
    <p>There are no autos in the library.</p>
  {% endif %}
  <p>
    <a href="/ads/autos/create">Add an auto</a> |
    <a href="/ads/makes/create">Add a make</a> |
    <a href="/ads/makes">View makes</a> ({{ make_count }})
  </p>
{% endblock %} 