{% extends "base_bootstrap.html" %}

{% block content %}
  <h1>Auto List</h1>
  {% if auto_list %}
    <ul>
      {% for auto in auto_list %}
        <li>
            {{ auto.nickname }} ({{ auto.make }})
          (<a href="{% url 'ads:auto_update' auto.id %}">Update</a> |
          <a href="{% url 'ads:auto_delete' auto.id %}">Delete</a>)
        </li>
      {% endfor %}
    </ul>
  {% else %}
    <p>There are no autos in the library.</p>
  {% endif %}
  <p>
    {% if make_count > 0 %}
    <a href="{% url 'ads:auto_create' %}">Add an auto</a> |
    {% endif %}
    <a href="{% url 'ads:makes' %}">View makes ({{ make_count }})</a>
  </p>
{% endblock %} 