{% extends "base_bootstrap.html" %}
{% block content %}
  <h1>Make List</h1>
  {% if make_list %}
    <ul>
      {% for make in make_list %}
        <li>
            {{ make.name }}
          (<a href="/ads/makes/{{ make.id }}/update">Update</a> |
          <a href="/ads/makes/{{ make.id }}/delete">Delete</a>)
        </li>
      {% endfor %}
    </ul>
  {% else %}
    <p>There are no makes in the library.</p>
  {% endif %}
  <p>
    <a href="/ads/makes/create">Add a make</a>
  </p>
  <p>
    <a href="/ads/autos">Back to autos</a>
  </p>
{% endblock %} 