{% extends "base_menu.html" %}
{% block content %}
<h1>All Ads</h1>
<table class="table">
  <tr>
    <th>Title</th>
    <th>Price</th>
    <th>Owner</th>
    <th>Actions</th>
  </tr>
  {% for ad in object_list %}
  <tr>
    <td><a href="{% url 'ads:ad_detail' ad.id %}">{{ ad.title }}</a></td>
    <td>{{ ad.price }}</td>
    <td>{{ ad.owner }}</td>
    <td>
      {% if ad.owner == user %}
        <a href="{% url 'ads:ad_update' ad.id %}">Edit</a> |
        <a href="{% url 'ads:ad_delete' ad.id %}">Delete</a>
      {% endif %}
    </td>
  </tr>
  {% endfor %}
</table>
{% endblock %} 